@page "/"

<PageTitle>Home</PageTitle>


<div class="container">
    <h1>Welcome!</h1>
    <p>
        The Halcyon Home Manager is a tool to help track and manage work around the house.
        It also contains several other features such as an item tracker (shopping list) and a
        dashboard to visualize work completed. Other features are planned to be included.
    </p>
</div>

