@page "/"

<PageTitle>Home</PageTitle>


<div class="container">
    <div class="card customcardbody">
        <div class="row">
            <div class="col-12">
                <div class="card-body m-lg-3">
                    <h4>Welcome to the Halcyon Home Manager Portal!</h4>
                    <img src="images\homepageimage.gif" width="150" height="150" alt="Home page welcome image">
                    <p>
                        The <strong>Halcyon Home Manager</strong> is a tool to help track and manage work around the house.
                        It also contains several other features such as an item tracker (shopping list) and a dashboard to
                        visualize completed work. Other features are planned to be included in future releases.
                    </p>
                 
                    <p>
                        The application is <strong>strictly client side.</strong> Data is only stored on the user’s device. As such, if the
                        end user deletes the app or a faulty update was released, all data is lost and cannot be recovered.
                        <br />
                        <br />
                        This is a hobby project. <strong>Use at your own discretion</strong>
                    </p>

                    <p>
                        The main purpose of this application is to demo .NET MAUI and explore what it has to offer for mobile
                        development. The application is open source and may be found here on GitHub:
                        <a href="https://github.com/Aaronkarr11/HalcyonHomeManager" target="_blank" rel="noopener">
                            https://github.com/Aaronkarr11/HalcyonHomeManager
                        </a>
                    </p>
                </div>
            </div>
        </div>

    </div>


</div>

